.achievements {
    margin-bottom: 130px;
  }
  .achievements__title {
      padding-top: 81px;
      margin-bottom: 100px;
  }
  .achievements__items {
    margin: 0 10px;
  }
  .achievements__item {
    margin: 0 auto;
    margin-bottom: 40px;
    height: 400px;
  
    background-color: rgba(39, 110, 216, 0.1);
    border-radius: 16px;
    box-shadow: 0px 3px 16px 2px rgba(29, 51, 107, 0.15);
  }
  .item-1 {
    background-image: url("..//images/achievements.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .item-2 {
    background-image: url("..//images/achievements_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .item-3 {
    background-image: url("..//images/achievements_3.png");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 80% 60%;
  }
  .item-4 {
    background-image: url("..//images/achievements_4.png");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 70% 50%;
  }
  .achievements__content {
    display: block;
    position: relative;
    top: 300px;
  }
  
  @media screen and (max-width: 1200px) {
    .achievements__item {
      max-width: 320px;
      width: 100%;
    }
  }