@import url('font.scss');
@import url('./all/HeaderMenu.scss');
@import url('./home/HeaderCarousel.scss');
@import url('./all/SocialBar.scss');
@import url('./home/HomeTechnologies.scss');
@import url('./all/RatingBlock.scss');
@import url('./home/HomeService.scss');
@import url('./all/PartnerBlock.scss');
@import url('./home/HomeAchievements.scss');
@import url('./home/HomePartners.scss');
@import url('./all/ContactsBlock.scss');
@import url('./all/Footer.scss');


.title-style {
    font-family: Harabara;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #194484;
}